<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.5.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/chat';
            var socket = io(namespace);

            socket.on('connect', function() {
                socket.emit('make_connection', {data: "Connecting..."});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('from #' + msg.from + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            socket.on('self_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('to #' + msg.to + ': ' + msg.data).html());
                if (cb)
                    cb();
            });
            $('form#emit').submit(function(event) {
                socket.emit('save_messages', {data: $('#emit_data').val()});
                return false;
            });
            $('form#deliver').submit(function(event) {
                socket.emit('deliver_messages', {data: $('#deliver_to').val()});
                return false;
            });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
</head>
<body style="background-color:white;">
    <br>
    <form method="POST" action="/home_page">
            <h1> Hello {{username}} </h1>
            <button type="submit" name="logout" value="True">Logout</button>
    </form>
    <br>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect Server">
    </form>
    <hr>
    <h1 style="background-color:white;">Messaging</h1>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Set Message">
    </form>
    <form id="deliver" method="POST" action='#'>
        <input type="submit" value="Deliver Message to user">
        <input type="text" name="deliver_to" id="deliver_to" placeholder="username">
    </form>
    <br>
    <hr>
    
    <h1 style="background-color:white;">Logs</h1>
    <div id="log" ></div>
</body>
</html>